<html>
<head>
  <title>Pusher Sendgrid Integration</title>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>

  <h1>Hello World</h1>


  <button id="subscribe">Go offline</button>

  <input id="email" type="email" placeholder="Enter email address">

  <input id="notification" type="text" placeholder="Notification message">
  <button id="submit" type="submit">Send Notification</button>

  <p id="incoming-notification"></p>

  <script>

    var pusher = new Pusher('ef2b3fea8d4c4a6f6912');
  
    var channelName = '<%= @channel_name %>';
    var channel = pusher.subscribe(channelName);


    channel.bind('new_notification', function(data){
      $('#incoming-notification').text(data.message);
    });

    $('#subscribe').on('click', function(){
      if (pusher.channel(channelName)){
        pusher.unsubscribe(channelName);
        $(this).text('Come online');
      } else {
        channel = pusher.subscribe(channelName);
        $(this).text('Go offline');
      }
    });

    $('#submit').on('click', function(){
      var message = $('#notification').val();
      var email = $('#email').val();

      if (email && notification){
        $.post('/notification', {
          message: message,
          channel_name: channelName,
          email: email
        })
      } else {
        alert('Form invalid bro')
      }

    });

  </script>

</body>
</html>