<html>
<head>
  <title>Pusher Sendgrid Integration</title>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/nostalgiaz/bootstrap-switch/master/dist/css/bootstrap3/bootstrap-switch.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/daneden/animate.css/master/animate.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-overrides.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/nostalgiaz/bootstrap-switch/master/dist/js/bootstrap-switch.min.js"></script>
</head>
<body>

  <header class="navbar">
    <div class="container navbar-container">
      <div class="row">
        <div class="col-xs-5 col-sm-6">
          <a href="https://pusher.com"><img class="full-logo" src="/images/pusher-logo.png" width="111" height="37"></a>
          <a href="https://pusher.com"><img class="small-logo" src="/images/pusher_logo_p.png" height="37"></a>
        </div>
        <div class="col-xs-7 col-sm-6">
          <a class="signup-link" href='https://pusher.com/signup'>Create a Free Account</a>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="inner">
      <h1 class="text-center page-heading">
        Sendgrid Online/Offline Notification Demo
      </h1>
      <h4 class="text-center page-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. molestie, ante imperdiet egestas.</h4>
        <div class="inputs text-center">
          <span id="email-input-wrapper">
            <input autocomplete="off" id="email" class="create-notification" type="email" placeholder="Your email address">
          </span>
          <span id="notification-message-wrapper">
            <input autocomplete="off"  class="create-notification" id="notification" type="text" placeholder="Type your message...">
          </span>
          <div id="send">
            <a id="submit" class="submit-notification btn btn-lg btn-clear btn-wide btn-default">Send Notification</a>
          </div>
          <div id="diagrams">
            <div id="email-diagram" class="diagram">
              <div id="you-got-mail" class="animated fadeInUpBig">
                <p id="mail-alert">You've got mail!</p>
                <h1 class="mail-icon">E</h1>

              </div>
            </div>
            <div id="switch">
              <div id="top-left" class="dot-container"></div>
              <div id="top-right" class="dot-container"></div>
              <input type="checkbox" name="my-checkbox" id="subscribe" checked>
            </div>
            <div id="app-diagram" class="diagram">
              <div id="notification-container" class="animated fadeInUp">
                <span id="text-container"><img src="images/smiley.png" id="smiley" alt=""></span>
                <span id="notification-text">Hello my baby hello my honey </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    $("[name='my-checkbox']").bootstrapSwitch({
      onText: "Online",
      offText: "Offline"
    });
    var pusher = new Pusher('ef2b3fea8d4c4a6f6912');

    var channelName = '<%= @channel_name %>';
    var channel = pusher.subscribe(channelName);

    function listenForNotifications() {
      channel.bind('new_notification', function(data){
        console.log(data);
        $('#notification-text').text(data.message);
        $('#notification-container').show(200, function(){
          var that = this;
          setTimeout(function(){
            $(that).addClass("zoomOutUp").hide(1000, function(){
              $(that).removeClass("zoomOutUp")
            });
          }, 5000);
        });
      });
    }
    function diagramTransition(type){

      var choice = ["#top-left", "#top-right"]

      choice = (type == "email") ? choice : choice.reverse();

      $(choice[0]).css({
        "border-bottom": "2px #74e8bb dashed"
      });

      $(choice[1]).css({
        "border-bottom": "none"
      });


    }
    listenForNotifications();
    $('#subscribe').on('switchChange.bootstrapSwitch', function(event, state){
      if (state){
        channel = pusher.subscribe(channelName);
        listenForNotifications();
        diagramTransition("app");
      } else {
        channel = pusher.unsubscribe(channelName);
        diagramTransition("email");
      }
    });
    $('#submit').on('click', function(){
      var message = $('#notification').val();
      var email = $('#email').val();
      if (email && notification){
        $.post('/notification', {
          message: message,
          channel_name: channelName,
          email: email
        }).success(function(){
          if (!pusher.channel(channelName)) {
            $('#you-got-mail').show().delay(3000).queue(function(next){
              var self = this;
              $(self).addClass("fadeOut")
              setTimeout(function(){
                $(self).remove();
              }, 2000)
              next();
            });
          } else {
          }
        });
      } else {
        alert('Form invalid bro')
      }
    });
  </script>
</body>
</html>