<html>
<head>
  <title>Pusher Sendgrid Integration</title>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/nostalgiaz/bootstrap-switch/master/dist/css/bootstrap3/bootstrap-switch.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/nostalgiaz/bootstrap-switch/master/dist/js/bootstrap-switch.min.js"></script>

  <style type="text/css" media="screen">
    div.inner {
      margin-top: 200px;
    }

    div.bootstrap-switch {
      height: 40px;
    }

  </style>

</head>
<body>

  <div class="container">

    <div class="inner">
      <h1 class="text-center">
        An h1 that can be quite long for your title
      </h1>

      <div class="inputs text-center">

        <div id="email-input-wrapper">
          <input id="email" type="email" placeholder="Your email">
        </div>

        <div id="notification-message-wrapper">
          <input id="notification" type="text" placeholder="Notification message">
        </div>

        <input type="checkbox" name="my-checkbox" id="subscribe" checked>

        <button id="submit" type="submit">Send Notification</button>

      </div>



      <p id="incoming-notification"></p>
    </div>



  </div>



  <script>

   $("[name='my-checkbox']").bootstrapSwitch({
    onText: "ONLINE",
    offText: "OFFLINE"
   });

    var pusher = new Pusher('ef2b3fea8d4c4a6f6912');
  
    var channelName = '<%= @channel_name %>';
    var channel = pusher.subscribe(channelName);

    function listenForNotifications() {
      channel.bind('new_notification', function(data){
        $('#incoming-notification').text(data.message);
      }); 
    }

    listenForNotifications();

    $('#subscribe').on('switchChange.bootstrapSwitch', function(event, state){
      channel = pusher[ state ? 'subscribe' : 'unsubscribe' ](channelName);
      channel && listenForNotifications();
    });


    $('#submit').on('click', function(){
      var message = $('#notification').val();
      var email = $('#email').val();

      if (email && notification){
        $.post('/notification', {
          message: message,
          channel_name: channelName,
          email: email
        })
      } else {
        alert('Form invalid bro')
      }

    });

  </script>

</body>
</html>