@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

@font-face {
  font-family: 'Icomoon';
  src:  url('/fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/fonts/icomoon.woff') format('woff') /* Pretty Modern Browsers */
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: white;
  background: -o-linear-gradient(right, #2193b0, #6dd5ed  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2193b0, #6dd5ed  ); /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(top left, #2193b0, #6dd5ed);
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  height: 100vh;
}

a.btn-default.submit-notification#submit[disabled] {
  background-color: inherit !important;
  border-color: inherit !important;
}

.bootstrap-switch-container {
  width: 200px;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch-label,
.bootstrap-switch .bootstrap-switch-handle-off {
  padding: 8px 12px !important;
}

div#email-input-wrapper {
  display: inline-block;
  position: relative;
}

.signup-link {
  color: #FFFFFF;
  text-decoration: none;
  float: right;
  margin-top: 8px;
}

.signup-link:hover {
  color: #EB0752;
  text-decoration: none;
}

header.navbar {
  background: transparent;
  height: 50px;
  color: white;
}

.navbar-container {
  padding-top: 10px;
}

.btn {
  font-weight: 300;
}

div.inner {
  margin-top: 70px;
}

div.bootstrap-switch {
  height: 40px;
}


div.dot-container{
  position: absolute;
  top: 0;
  height: 200px;
  width: 50%;
}

div#switch div#top-left {
  left:0;
  /*border-bottom: 2px red dashed;*/
}

div#switch div#top-right{
  right: 0;
  border-left: 2px #74e8bb dashed;
  border-bottom: 2px #74e8bb dashed;
}


div#send {
  margin-top:50px;
}

input.create-notification {
  background: transparent !important;
  border: none;
  font-size: 28px !important;
  height: 52px;
  line-height: 52px;
  box-shadow: none;
  width: 318px;
  vertical-align: middle;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  letter-spacing: 0.075rem;
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

input.create-notification:hover, input.create-notification:focus {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none;
}

input.create-notification:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

input.create-notification::-webkit-input-placeholder {
  color: white;
  font-weight: 200;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

input.create-notification:focus::-webkit-input-placeholder{
  opacity: 1;
}

span.bootstrap-switch-handle-on, span.bootstrap-switch-handle-off {
  background: #74e8bb !important;
  color: white !important;
}

span.bootstrap-switch-handle-off {
  background: #aac0c6 !important;
}

h1.page-heading{
  color: white;
  border:none;
  font-weight: 200;
  font-size: 36px;
}

.page-subheading {
  font-weight: 200;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

p.disclaimer {
  position: absolute;
  opacity: 0.7;
  left: 10px;
  bottom: -25px;
}

.small-logo, .full-logo {
  transition: height 0.4s;
  -webkit-transition: height 0.4s; /* Safari */
  -moz-transition: height 0.4s;
  -o-transition: height 0.4s;
}

.small-logo {
  height: 0;
}

.full-logo {
  height: 37px;
}

div#switch {
  position:relative;
  /*margin: 0 auto;*/
  float: left;
  height: 300px;
  /*width: 40%;*/
  width: 450px;
  padding-top:180px;
}

.bootstrap-switch {
  border-color: transparent !important;
}

div#app-diagram {
  float: left;
  position:relative;
}

div#email-diagram {
  float: left;
  position: relative;
}

.mail-icon {
  font-family: Icomoon;
  font-size: 60px;
}

div#you-got-mail {
  display:none;
  margin-top: 20%;
}

div.diagram {
  height: 240px;
  background-image: url(images/browser_window.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 340px;
  margin-top: 80px;
}

img#smiley {
  zoom: 50%;
}
span#text-container {
  vertical-align: middle;
}

div#notification-container {
  display:none;
  position: absolute;
  top: 40;
  right: 20;
  min-width: 100px;
  min-height: 30px;
  max-width: 300px;
  border-radius: 6px;
  background-color: white;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  color: #9ca8aa;
  text-align: left;
}

#notification-text {
  vertical-align: middle;
}

p#mail-alert {
  font-size: 16px;
}

@media screen and (max-width: 1200px){

  div#switch {
    width: 280px;
  }

  div.diagram {
    width: 330px;
  }

}

@media screen and (max-width: 994px) {
  div.devices {
    width: 85%;
  }

  .small-logo {
    height: 37px;
  }

  .full-logo {
    height: 0;
    width: 0;
  }

  /*div#switch P*/
  div.container {
    width: inherit;
  }

  div.diagram {
    width: 320px;
  }


}

@media screen and (max-width: 950px){
  div.diagram {width: 310px;}
}

@media screen and (max-width: 930px) {
  div.diagram {width: 290px;}
}

@media screen and (max-width: 892px){
  div.diagram {width: 270px;}
}

@media screen and (max-width: 850px){
  div.diagram {width: 250px;}

  div#you-got-mail {
    margin-top: 10%;
  }

}

@media screen and (max-width: 810px) {
  div.diagram {width: 210px;}
}

@media screen and (max-width: 740px ){
  #email-diagram, #top-left, #top-right{
    display: none;
  }

  input.create-notification {
    text-align: center;
  }

  p.disclaimer {
    left: 45;
  }

  div#email-input-wrapper {
    margin-bottom: 30px;
  }

  #switch {
    float: none !important;
    height: 100px !important;
    padding-top: 50px !important;
    margin: 0 auto;
  }

  a.submit-notification {
    margin-top: -30px;
  }

  #app-diagram {
    float:none !important;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    margin-top: 50px;
  }

  #you-got-mail {
    padding-top: 15%; 
  }

}

@media screen and (max-width: 520px) {
  #app-diagram {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 420px) {
  #app-diagram {
    width: 350px;
  }
}
